
.display-user{
    display:flex;
    align-items: center;
    background-color: rgb(184, 180, 180);
    padding: 8% 1% 12% 5%;
    justify-content: space-between;
    margin-top: 2%;
    width: 200%;
}

/* Inputs section container */

.player-input{
    margin-right: 4%;
    height: 2rem;
    width: 30rem;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 1%;
}

.submit-button{
    width: 50%;
    height: 3rem;
    background-color: black;
    color:rgb(254, 254, 255);
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.player-avatar{
    border-radius: 100px;
    margin-right: 5%;
    max-height: 4rem;
    max-width: 4rem;
}

.battle-inputs-header{
    text-align: center;
    margin-top: 5%;
}

.battle-inputs-container{
    display:flex;
    justify-content: center;
    align-items: center;

}

.battle-section-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.player-input-dark{
    background-color: rgb(2, 2, 2);
    color: #ffffff;
}

.player-input-light{
    background-color: #ebebeb;
    color: #000000;
}

.input-button-container{
    display: flex;
}


/* Player Cards container */
.avatar-name-container{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    height: 1rem;
    width: 10rem;
}

.player-card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 3%;
    margin: 2%;
    width: 150%;
}

.player-card-container-light{
    background-color: #b0adad;
    color: #000000;
}

.player-card-container-dark{
    background-color: #242424;
    color:#e6e3e3;
}

.player-two-card{
    margin-left: 10%;
}

.player-one-card{
    margin-right: 10%;
}

.remove-player-button{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(184, 11, 11);
    font-weight: bold;
}

.remove-player-button:hover{
    transform: translateY(4px);
}




/* Battle button */

.battle-button{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    padding: 1% 4% 1% 4%;
    position: absolute;
    right: 41%;
    margin-top: 1%;
    margin-bottom: 5%;
}