.nav-bar{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}



.nav-links-container{
    display: flex;
}

.active{
    color:rgb(96, 95, 95); 
    margin-right: 20%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.inactive{
    color: red;
    margin-right: 20%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold; 
}



.dark-mode-nav{
    background-color:  rgb(18, 19, 18);
    color:#ffffff;
}

.light-mode-nav{
    background-color: #ffffff;
    color:rgb(96, 95, 95); 
}


button{
    cursor: pointer;
}


.dark-mode{
    color: orange;
    background-color: transparent;
    font-size: 2rem;
    border:none;
}

.light-mode{
    color:rgb(68, 67, 67);
    background-color: transparent;
    font-size: 2rem;
    border:none;
}