/* not-found-page-styling */

.not-found-dark{
    background-color:rgb(18, 19, 18);
}

.not-found-light{
    background-color: #ffffff;
}

.not-found-page{
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* ******************************** */

/* not found image */

.not-found-image{
    height: 80vh;
    width: 100%;
}

/* go to home button */

.go-to-home-button{
    background-color: rgb(164, 162, 162);
    padding: 0.5% 2% 0.5% 2%;
    font-weight: bold;
    font-size: 1rem;
}


