.battle-section-container{
    font-weight: 100;
    background-size: cover;
    height: 100vh;
    padding-bottom: 10rem;
}


.instruction-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.instruction-header{
    text-align: center;
    padding-bottom: 1%;
    margin-top: 1%;
    font-size: 3rem;
    font-weight: 150;
}


.icons{
    font-size: 6rem;
    padding: 2rem;
    height: 10rem;
    width: 10rem;
}

.users-icon-light{
    color:rgb(253, 198, 95);
    background-color: rgb(230, 227, 227);
}

.users-icon-dark{
    color:rgb(253, 198, 95);
    background-color: rgb(4, 4, 4);
}

.trophy-icon-light{
    color:rgb(241, 219, 98);
    background-color: rgb(230, 227, 227);
}

.trophy-icon-dark{
    color:rgb(241, 219, 98);
    background-color: rgb(4, 4, 4);
}

.flight-icon-light{
    color:rgb(87, 87, 85);
    background-color: rgb(230, 227, 227);
}

.flight-icon-dark{
    color:rgb(163, 163, 161);
    background-color: rgb(4, 4, 4);
}


h2{
    font-weight: 200;
    font-size: 2rem;
}

.dark-mode-battle{
    background-color: rgb(18, 19, 18);
    color:#ffffff;
}

.light-mode-battle{
    background-color: #ffffff;
    color:black;
}

.instruction-list li{
    text-align: center;
}