.results-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* players result card container */

.player-data-container{
    background-color: rgb(215, 213, 213);
    padding: 2rem 2rem 2rem 2rem;
    width: 15%;
    background-size: cover;
    max-height: fit-content;
    max-height: 40%;
    margin-top: 1%;
}


.result-player-avatar{
    height: 30%;
    width: 30%;
}

.result-card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fail-header{
    text-align: center;
}

.porfile-icon{
    color:rgb(220, 108, 3);
}

.location-icon{
    color:#1c64e1;
}

.company-icon{
    color:rgb(97, 67, 67);
}

.followers-icon{
    color: blue;
}

.following-icon{
    color:green;
}

.code-icon{
    color: gray;
    font-weight: 900;
    
}

.results-footer-container{
    margin-left: 5%;
}


.dark-result-card{
    background-color: rgb(16, 17, 17);
    color: rgb(255, 255, 255);
}

.light-result-card{
    background-color: rgb(212, 211, 211);
    color: rgb(8, 8, 8);
}

.light-result-page{
    background-color: #ffffff;
    color:rgb(96, 95, 95);    
    padding-bottom: 10rem;
}

.dark-result-page{
    background-color:  rgb(18, 19, 18);
    color:#ffffff;
    height: 100vh;
    padding-bottom: 10rem;
}



.footer-icons{
    font-size: 1.5rem;
}

.results-footer-container > div{
    display: flex;
    align-items: center;
}

.player-name-header{
    font-size: 1rem;
    color: rgb(189, 4, 4);
}



/* Reset Button styling */

.reset-button{
    background-color: black;
    color: aliceblue;
    padding: 1% 4% 1% 4%;
    position: absolute;
    right: 45%;
    margin-top: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}


/* Loader styling */

.loading-results-light{
    color:black;
    display: flex;
    justify-content: center;
}

.loading-results-dark{
    background-color:rgb(18, 19, 18);
    color:#ffffff;
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* Fail to fetch container */

.fail-container-light{
    color:rgb(226, 19, 19);
}

.fail-container-dark{
    background-color: rgb(18, 19, 18);
    color:#ffffff;
    height: 100vh;
    padding: 10%;
    color: red;
}