
/* Popular unorderd List  */

.popularList-container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
    padding-left: 20rem;
    padding-right: 20rem;
}

.popularList-dark{
    background-color:rgb(16, 17, 17);
    color: rgb(255, 255, 255);
}

.popularList-light{
    background-color: rgb(212, 211, 211);
    color: rgb(8, 8, 8);
}


.avatar-image{
    width: 60%;
}


/* Popular card contaniner  styling*/

.popularList{
    width: 16rem;
    margin: 1rem;
    padding-bottom:1%;
}


.popularList-dark-container{
    background-color: rgb(18, 19, 18);
    color: rgb(255, 255, 255);
}

.popularList-light-container{
    background-color: rgb(255, 254, 254);
    color: rgb(12, 12, 12);
}



/* Nav buttons container  */

.buttons-container{
    text-align: center;
}

/* Active button styling */

.popular-nav-button-active{
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color:red;
}

/* Inactive button styling */

.popular-nav-button-inactive{
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color:rgb(96, 95, 95); 
}

/* Top part of list card */
.popular-image-header{
    text-align: center;
    font-size: 1rem;
}

/* Bottom part of list card */
.popular-list-footer{
    margin-left: 10%;
}

.ranks-header{
    font-size: 2.5rem;
    font-weight: 100;
}

.footer-icons{
    margin-right: 6%;
    font-size: 1.5rem;
}

.profile-icon{
    color:#f8c948;
}

.star-icon{
    color:rgb(251, 220, 61);
}

.git-icon{
    color:rgb(100, 214, 214);
}

.warning-icon{
    color:rgba(253, 92, 86, 0.533);
}

.lang-header{
    font-weight: bold;
    color:rgb(157, 37, 37);
    font-size: 1.4rem;
}


/* page loading Styling */
.wraper-light{
    height: 100vh;
    display: flex;
    color:black;
    justify-content: center;
}

.wraper-dark{
    background-color: rgb(18, 19, 18);
    height: 100vh;
    display: flex;
    justify-content: center;

}


/* Fail section  */
.fail-container{
    text-align: center;
}